/* Deployment Specific Styles */

.chat-demo-button {
  border-radius: 3px;
  color: #343d4e;
  border: 2px solid #343d4e;
  padding: 5px 10px;
  background-color: white;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}
.chat-demo-button:hover {
  background-color: rgba(52, 61, 78, 0.3);
}
.chat-demo-button:active {
  background-color: rgba(52, 61, 78, 0.8);
}

@font-face {
  font-family: "Suisse Intl Medium";
  src: url("assets/fonts/c446362802681bacaacbad0f39bfc1a5.eot"); /* IE9*/
  src: url("assets/fonts/c446362802681bacaacbad0f39bfc1a5.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/c446362802681bacaacbad0f39bfc1a5.woff2") format("woff2"), /* chrome firefox */
  url("assets/fonts/c446362802681bacaacbad0f39bfc1a5.woff") format("woff"), /* chrome firefox */
  url("assets/fonts/c446362802681bacaacbad0f39bfc1a5.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("assets/fonts/c446362802681bacaacbad0f39bfc1a5.svg#Suisse Intl Medium") format("svg"); /* iOS 4.1- */
}

.chatroom, input, button { font-family: "Suisse Intl Medium", sans-serif; }
