$lightGrey: #eaeaea;
$green: #9bad3b;
$darkGreen: rgba(51, 128, 23, 0.75);
$background: #fbfbfb;
$transparentBackground: #fbfbfbe8;
$darkPurple: #32009c;
$lightPurple: #7e51de;
$textColour: #333;


@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% { opacity: 1; }
}

@mixin transition {
  opacity: 0;
  -ms-animation: animateIn 300ms ease-out;
  -o-animation: animateIn 300ms ease-out;
  -moz-animation: animateIn 300ms ease-out;
  -webkit-animation: animateIn 300ms ease-out;
  animation: animateIn 300ms ease-out;
  animation-fill-mode: forwards;
}

@mixin slowTransition {
  opacity: 0;
  -ms-animation: fadein 800ms ease-out;
  -o-animation: fadein 800ms ease-out;
  -moz-animation: fadein 800ms ease-out;
  -webkit-animation: fadein 800ms ease-out;
  animation: fadein 800ms ease-out;
  animation-fill-mode: forwards;
}

@mixin slowFadeIn {
  opacity: 0;
  -ms-animation: fadein 800ms ease-out;
  -o-animation: fadein 800ms ease-out;
  -moz-animation: fadein 800ms ease-out;
  -webkit-animation: fadein 800ms ease-out;
  animation: fadein 800ms ease-out;
  animation-fill-mode: forwards;
}

@mixin slowFadeOut {
  opacity: 1;
  -ms-animation: fadeout 800ms ease-out;
  -o-animation: fadeout 800ms ease-out;
  -moz-animation: fadeout 800ms ease-out;
  -webkit-animation: fadeout 800ms ease-out;
  animation: fadeout 800ms ease-out;
  animation-fill-mode: forwards;
}

@mixin logoBackground {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='114' height='48' viewBox='0 0 114 48'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23FFF' fill-rule='nonzero'%3E%3Cpath d='M48.45 63.15v27.1c0 1.333-.142 2.483-.425 3.45-.283.967-.767 1.775-1.45 2.425-.683.65-1.608 1.133-2.775 1.45-1.167.317-2.65.475-4.45.475-.833 0-1.583-.067-2.25-.2V92c.367.133.867.2 1.5.2.733 0 1.375-.142 1.925-.425.55-.283.825-.908.825-1.875V63.15h7.1zm13.25 0v14.6c0 2.133.333 3.725 1 4.775.667 1.05 1.85 1.575 3.55 1.575 1.933 0 3.333-.575 4.2-1.725.867-1.15 1.3-3.042 1.3-5.675V63.15h7.1V89H72.1v-3.6h-.15c-.9 1.5-2.067 2.583-3.5 3.25-1.433.667-2.9 1-4.4 1-1.9 0-3.458-.25-4.675-.75-1.217-.5-2.175-1.208-2.875-2.125-.7-.917-1.192-2.033-1.475-3.35-.283-1.317-.425-2.775-.425-4.375v-15.9h7.1zm64.75-.7c2.033 0 3.875.325 5.525.975 1.65.65 3.058 1.567 4.225 2.75 1.167 1.183 2.067 2.617 2.7 4.3.633 1.683.95 3.558.95 5.625s-.317 3.933-.95 5.6c-.633 1.667-1.533 3.092-2.7 4.275-1.167 1.183-2.575 2.092-4.225 2.725-1.65.633-3.492.95-5.525.95-2.033 0-3.867-.317-5.5-.95s-3.033-1.542-4.2-2.725c-1.167-1.183-2.067-2.608-2.7-4.275-.633-1.667-.95-3.533-.95-5.6 0-2.067.317-3.942.95-5.625.633-1.683 1.533-3.117 2.7-4.3 1.167-1.183 2.567-2.1 4.2-2.75 1.633-.65 3.467-.975 5.5-.975zm-27.4 0c1.9 0 3.458.258 4.675.775 1.217.517 2.175 1.233 2.875 2.15.7.917 1.192 2.033 1.475 3.35.283 1.317.425 2.775.425 4.375V89h-7.1V74.4c0-2.133-.333-3.725-1-4.775-.667-1.05-1.85-1.575-3.55-1.575-1.933 0-3.333.575-4.2 1.725-.867 1.15-1.3 3.042-1.3 5.675V89h-7.1V63.15H91v3.6h.15c.9-1.5 2.067-2.592 3.5-3.275 1.433-.683 2.9-1.025 4.4-1.025zm27.4 5.35c-1.2 0-2.2.242-3 .725-.8.483-1.442 1.108-1.925 1.875-.483.767-.825 1.65-1.025 2.65-.2 1-.3 2.017-.3 3.05s.1 2.042.3 3.025c.2.983.542 1.867 1.025 2.65.483.783 1.125 1.408 1.925 1.875.8.467 1.8.7 3 .7s2.208-.233 3.025-.7c.817-.467 1.467-1.092 1.95-1.875.483-.783.825-1.667 1.025-2.65.2-.983.3-1.992.3-3.025s-.1-2.05-.3-3.05c-.2-1-.542-1.883-1.025-2.65-.483-.767-1.133-1.392-1.95-1.875-.817-.483-1.825-.725-3.025-.725zM145 51c3.314 0 6 2.686 6 6s-2.686 6-6 6-6-2.686-6-6 2.686-6 6-6zm0 2c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm-96.55.3v5.85h-7.1V53.3h7.1z' transform='translate(-37.000000, -51.000000)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

@mixin logoBackgroundPurple {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='114' height='48' viewBox='0 0 114 48'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237e51de' fill-rule='nonzero'%3E%3Cpath d='M48.45 63.15v27.1c0 1.333-.142 2.483-.425 3.45-.283.967-.767 1.775-1.45 2.425-.683.65-1.608 1.133-2.775 1.45-1.167.317-2.65.475-4.45.475-.833 0-1.583-.067-2.25-.2V92c.367.133.867.2 1.5.2.733 0 1.375-.142 1.925-.425.55-.283.825-.908.825-1.875V63.15h7.1zm13.25 0v14.6c0 2.133.333 3.725 1 4.775.667 1.05 1.85 1.575 3.55 1.575 1.933 0 3.333-.575 4.2-1.725.867-1.15 1.3-3.042 1.3-5.675V63.15h7.1V89H72.1v-3.6h-.15c-.9 1.5-2.067 2.583-3.5 3.25-1.433.667-2.9 1-4.4 1-1.9 0-3.458-.25-4.675-.75-1.217-.5-2.175-1.208-2.875-2.125-.7-.917-1.192-2.033-1.475-3.35-.283-1.317-.425-2.775-.425-4.375v-15.9h7.1zm64.75-.7c2.033 0 3.875.325 5.525.975 1.65.65 3.058 1.567 4.225 2.75 1.167 1.183 2.067 2.617 2.7 4.3.633 1.683.95 3.558.95 5.625s-.317 3.933-.95 5.6c-.633 1.667-1.533 3.092-2.7 4.275-1.167 1.183-2.575 2.092-4.225 2.725-1.65.633-3.492.95-5.525.95-2.033 0-3.867-.317-5.5-.95s-3.033-1.542-4.2-2.725c-1.167-1.183-2.067-2.608-2.7-4.275-.633-1.667-.95-3.533-.95-5.6 0-2.067.317-3.942.95-5.625.633-1.683 1.533-3.117 2.7-4.3 1.167-1.183 2.567-2.1 4.2-2.75 1.633-.65 3.467-.975 5.5-.975zm-27.4 0c1.9 0 3.458.258 4.675.775 1.217.517 2.175 1.233 2.875 2.15.7.917 1.192 2.033 1.475 3.35.283 1.317.425 2.775.425 4.375V89h-7.1V74.4c0-2.133-.333-3.725-1-4.775-.667-1.05-1.85-1.575-3.55-1.575-1.933 0-3.333.575-4.2 1.725-.867 1.15-1.3 3.042-1.3 5.675V89h-7.1V63.15H91v3.6h.15c.9-1.5 2.067-2.592 3.5-3.275 1.433-.683 2.9-1.025 4.4-1.025zm27.4 5.35c-1.2 0-2.2.242-3 .725-.8.483-1.442 1.108-1.925 1.875-.483.767-.825 1.65-1.025 2.65-.2 1-.3 2.017-.3 3.05s.1 2.042.3 3.025c.2.983.542 1.867 1.025 2.65.483.783 1.125 1.408 1.925 1.875.8.467 1.8.7 3 .7s2.208-.233 3.025-.7c.817-.467 1.467-1.092 1.95-1.875.483-.783.825-1.667 1.025-2.65.2-.983.3-1.992.3-3.025s-.1-2.05-.3-3.05c-.2-1-.542-1.883-1.025-2.65-.483-.767-1.133-1.392-1.95-1.875-.817-.483-1.825-.725-3.025-.725zM145 51c3.314 0 6 2.686 6 6s-2.686 6-6 6-6-2.686-6-6 2.686-6 6-6zm0 2c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm-96.55.3v5.85h-7.1V53.3h7.1z' transform='translate(-37.000000, -51.000000)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

@mixin compass {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='compass'%3E%3Cpath id='Combined Shape' fill-rule='evenodd' clip-rule='evenodd' d='M0 7C0 3.13405 3.13405 0 7 0C10.8641 0.00432944 13.9957 3.13587 14 7C14 10.866 10.866 14 7 14C3.13405 14 0 10.866 0 7ZM0.466667 7C0.466667 10.6082 3.39176 13.5333 7 13.5333C10.6065 13.5292 13.5292 10.6065 13.5333 7C13.5333 3.39176 10.6082 0.466667 7 0.466667C3.39176 0.466667 0.466667 3.39176 0.466667 7ZM1.16667 7C1.16667 3.77834 3.77834 1.16667 7 1.16667C10.2202 1.17031 12.8297 3.77982 12.8333 7C12.8333 10.2217 10.2217 12.8333 7 12.8333C3.77834 12.8333 1.16667 10.2217 1.16667 7ZM1.63333 7C1.63333 9.96395 4.03605 12.3667 7 12.3667C9.96258 12.3634 12.3634 9.96258 12.3667 7C12.3667 4.03605 9.96395 1.63333 7 1.63333C4.03605 1.63333 1.63333 4.03605 1.63333 7ZM10.1565 3.52586C10.2478 3.47402 10.3623 3.4894 10.4365 3.56346C10.5113 3.63797 10.5267 3.75339 10.4741 3.84487L8.09591 8.0099C8.09514 8.01112 8.09409 8.01204 8.09305 8.01296L8.09304 8.01297L8.09303 8.01297C8.09194 8.01393 8.09086 8.01488 8.0901 8.01616C8.06709 8.04294 8.04214 8.06789 8.01548 8.09079C8.01408 8.09158 8.01311 8.09272 8.01213 8.09387C8.01126 8.09489 8.01039 8.09591 8.00921 8.09671L3.84419 10.4741C3.75282 10.5262 3.63797 10.5107 3.56357 10.4364C3.48929 10.362 3.4738 10.2472 3.52586 10.1558L5.90409 5.9901C5.90487 5.98888 5.90592 5.98795 5.90696 5.98703C5.90806 5.98607 5.90914 5.98512 5.9099 5.98384C5.93291 5.95706 5.95786 5.93211 5.98452 5.90921L5.98572 5.90838L5.98648 5.90768L5.98788 5.90613L5.98788 5.90612C5.98874 5.90511 5.98962 5.90409 5.99079 5.90329L10.1565 3.52586ZM6.1577 6.48787L4.35495 9.64505L7.51338 7.8423L6.1577 6.48787ZM7.8423 7.51338L6.48901 6.15998L9.64619 4.35723L7.8423 7.51338ZM3.26667 6.76667H2.33333C2.20448 6.76667 2.1 6.87114 2.1 7C2.1 7.12886 2.20448 7.23333 2.33333 7.23333H3.26667C3.39552 7.23333 3.5 7.12886 3.5 7C3.5 6.87114 3.39552 6.76667 3.26667 6.76667ZM10.7333 6.76667H11.6667C11.7955 6.76667 11.9 6.87114 11.9 7C11.9 7.12886 11.7955 7.23333 11.6667 7.23333H10.7333C10.6045 7.23333 10.5 7.12886 10.5 7C10.5 6.87114 10.6045 6.76667 10.7333 6.76667ZM7 3.5C7.12886 3.5 7.23333 3.39552 7.23333 3.26667V2.33333C7.23333 2.20448 7.12886 2.1 7 2.1C6.87114 2.1 6.76667 2.20448 6.76667 2.33333V3.26667C6.76667 3.39552 6.87114 3.5 7 3.5ZM6.76667 10.7333C6.76667 10.6045 6.87114 10.5 7 10.5C7.12886 10.5 7.23333 10.6045 7.23333 10.7333V11.6667C7.23333 11.7955 7.12886 11.9 7 11.9C6.87114 11.9 6.76667 11.7955 6.76667 11.6667V10.7333Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@mixin gradient {
  background: $lightPurple;
  background: linear-gradient(40deg, $darkPurple 0%, $lightPurple 40%);
  color: white;
}

@mixin variedGradient {
  background: $lightPurple;
  background: linear-gradient(50deg, $darkPurple 0%, $lightPurple 80%);
  color: white;
}

div.splash {
  background-image: url("../assets/splash-lines.svg");
  background-repeat: no-repeat;

  div.consent-form {
    position: absolute;
    top: 33%;
    padding: 2% 5%;
    background-color: $transparentBackground;
    margin: 3%;
    box-shadow: 1px 0px 3px silver;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 5%;
    @include slowFadeIn;
    animation-delay: 4s;

    h2 { margin: 0rem; }
    ul {
      margin-bottom: 1rem;
      padding-left: 1rem;
    }
    button {
      font-size: 1.2rem;
      margin-right: 5%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 1%;
      border-radius: 0.5rem;
    }

    button.agree {
      opacity: 1;
      @include gradient;
    }

    .content {}
    span.bot-avatar { width: 4rem; height: 4rem; background-size: 100%; border: none; box-shadow: none; }
  }
}

div.splash, div.splash-hills {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $background;
  background-size: cover;
  background-position-x: center;
}

div.splash-hills {
  content: "";
  display: block;
  background-image: url("../assets/splash-hill.jpg");
  background-repeat: no-repeat;
  @include slowFadeOut;
  animation-delay: 3s;

  h1.logo {
    position: fixed;
    left: calc(50% - 3.5rem);
    top: calc(45% - 3.5rem);
    width: 7rem;
    height: 7rem;
    background-size: contain;
    background-position: center;
    @include logoBackground;
    @include slowFadeOut;
    animation-delay: 2s;
  }
}

div.splash.end-splash {
  @include slowFadeOut;
  animation-delay: 1s;
  div.consent-form {
    @include slowFadeOut;
  }
}

h1.logo {
  color: transparent;
  width: 20%;
  height: 45%;
  @include logoBackground;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1rem;
}

div.jupiter.chatroom {
  background-size: cover;
  background-blend-mode: color;
  background-color: white;
  border-radius: 0px;

  span.bot-avatar {
    //background-image: url('../assets/bot-avatar.png');
    //background-image: url("bot-avatar.png");
    //background-image: url("bot-avatar.2bf53ec2.png");
    background-size: 100%;
    border: 1px solid #fff;
    box-shadow: none;
    background-color: white;
  }

  div.chats, div.chats::before { height: calc(86% - 4rem); } /* minus rem for form input  */

  header {
    @include gradient;
    height: 14%;
    width: 100vw;
    overflow: hidden;
    box-shadow: 0px 0px 5px silver;
  }
}

.chatroom h3 {
  //border-bottom-color: rgba(51, 128, 23, 0.21);
  font-size: 1rem;
  border-bottom: none;
  height: 2em;
}

.chatroom .chats {
  &::before {
    content: "";
    background-color: $background;
    background-image: url("../assets/splash-lines.svg");
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position-x: center;
    opacity: 0.2;
  }

  .time span.sent { color: $textColour; opacity:0.7; }

  li.locate-container {
    .locate-message { color: white; }
  }

  li.chat.waiting {
    margin-top: 0px;
    top: -10px;
  }

  .chat {
    opacity: 1;
    @include slowTransition;
    background-color: $lightGrey;
    color: $textColour;
    box-shadow: none;
    border-radius: 1.3rem;
  }

  .chat-buttons {
    .chat-button-disabled { display: none; }

    .chat-button {
      padding: 0.9rem 1rem;
      @include gradient;
      box-shadow: 1px 1px 1px silver;
      border: none;
      border-radius: 1rem;
    }
  }

  .chat.right { @include gradient; }

  .chat.right a {
    color: white;
    text-decoration: underline dashed;
  }

  .chat.right a[href^="https://www.openstreetmap.org/?mlat="] {
    height: 10rem;
    width: 10rem;
    max-width: 100%;
    display: inline-block;
    color: black;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 1px 1px 2px white;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' width='60.191822mm' height='60.156044mm' viewBox='0 0 60.191822 60.156044' version='1.1' id='svg8' inkscape:version='0.92.5 (2060ec1f9f, 2020-04-08)' sodipodi:docname='drawing-1.svg'%3E%3Cdefs id='defs2' /%3E%3Csodipodi:namedview id='base' pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1.0' inkscape:pageopacity='0.0' inkscape:pageshadow='2' inkscape:zoom='1.4' inkscape:cx='9.5975559' inkscape:cy='169.0269' inkscape:document-units='mm' inkscape:current-layer='layer1' showgrid='false' inkscape:window-width='1920' inkscape:window-height='1016' inkscape:window-x='0' inkscape:window-y='27' inkscape:window-maximized='1' fit-margin-top='0' fit-margin-left='0' fit-margin-right='0' fit-margin-bottom='0' /%3E%3Cmetadata id='metadata5'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1' transform='translate(-64.10816,-56.741213)'%3E%3Cpath style='fill:%23000000;stroke-width:0.26458332' d='m 90.137717,116.75844 c -1.01864,-0.13037 -2.91178,-0.54484 -4.20698,-0.92103 C 72.46973,111.92762 63.42888,99.270913 64.14819,85.342973 c 0.34501,-6.68024 2.6043,-12.44139 6.9614,-17.7514 9.64784,-11.757841 26.942067,-14.328705 39.66563,-5.896473 13.36778,8.859183 17.53173,27.024903 9.29932,40.56946 -4.46659,7.34876 -11.38477,12.26378 -20.01494,14.21963 -1.704603,0.3863 -7.742503,0.5532 -9.921883,0.27425 z m 3.30729,-5.81761 v -4.49791 h 0.79375 0.79375 v 4.49791 c 0,5.22949 -0.42452,4.75773 3.68207,4.09174 7.725973,-1.25297 14.769013,-5.69265 19.063953,-12.01724 2.55699,-3.765317 4.46277,-8.992197 4.90025,-13.439597 l 0.18869,-1.91823 h -4.52477 -4.52477 v -0.79375 -0.79375 h 4.51413 4.51413 l -0.16219,-1.25677 c -0.65664,-5.08827 -1.3243,-7.49129 -3.01648,-10.85688 -4.35,-8.65171 -13.02829,-14.557338 -22.849073,-15.548927 l -1.78594,-0.180323 v 4.528738 4.528742 h -0.79375 -0.79375 v -4.528742 -4.528738 l -1.78593,0.180323 c -2.35579,0.23786 -5.60955,1.005195 -7.885417,1.859623 -6.97642,2.619147 -13.49319,9.150374 -16.24185,16.277894 -0.86753,2.24958 -1.86805,6.77115 -1.86805,8.44214 v 1.08292 h 4.49792 4.49792 v 0.79375 0.79375 h -4.49792 -4.49792 l 0.001,0.7276 c 5.8e-4,0.40019 0.17548,1.79917 0.38866,3.10886 1.40224,8.614917 6.80401,16.240037 14.49897,20.466707 3.28806,1.80605 8.702877,3.37782 11.900367,3.45433 l 0.99219,0.0238 z M 76.78116,104.19986 c -0.2683,-0.32328 0.81128,-2.26295 6.23465,-11.201757 l 6.559127,-10.81078 10.16737,-6.1946 c 5.592063,-3.40703 10.450133,-6.37023 10.795733,-6.58488 0.56066,-0.34824 0.67523,-0.3434 1.06354,0.0449 0.40386,0.40386 -0.0354,1.21297 -6.10176,11.24021 l -6.536953,10.80502 -7.82133,4.76049 c -4.30172,2.61827 -9.125777,5.564157 -10.720117,6.546417 -1.59434,0.98227 -2.99262,1.78594 -3.10729,1.78594 -0.11467,0 -0.35451,-0.17594 -0.53297,-0.39097 z m 12.262867,-8.465427 c 4.31231,-2.61544 7.84057,-4.88653 7.84057,-5.04686 0,-0.31227 -6.26068,-6.46965 -6.57819,-6.46965 -0.16451,0 -10.062017,16.042517 -10.319127,16.725907 -0.13313,0.35386 0.20118,0.16157 9.056747,-5.209397 z m 14.408493,-14.59226 c 2.80273,-4.60208 5.05493,-8.40835 5.00491,-8.45838 -0.17719,-0.17718 -16.864503,10.07106 -16.864503,10.35707 0,0.31041 6.26063,6.46872 6.57619,6.46872 0.10315,0 2.480683,-3.76533 5.283403,-8.36741 z m 2.29093,18.41684 -1.56717,-1.5837 0.58984,-0.58984 0.58985,-0.58985 1.59411,1.59411 1.59411,1.59411 -0.61678,0.579427 -0.61679,0.57944 z M 81.458,75.274153 l -1.51941,-1.53543 0.61416,-0.57697 0.61415,-0.57696 1.55791,1.57433 c 1.53213,1.54828 1.54985,1.58323 1.07096,2.11239 -0.26781,0.29594 -0.56151,0.53807 -0.65265,0.53807 -0.0911,0 -0.84945,-0.69095 -1.68512,-1.53543 z' id='path826' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 100%;
    background-color: white;
    background-position-y: 2rem;
    background-repeat: no-repeat;
    background-position-x: 10%;
  }
  .chat.right a[href^="https://www.openstreetmap.org/?mlat="]::after {}
}


// INPUT CONTROLS

.chatroom .input-controls {
  padding: 3px 0px;
  height: 4rem;

  .sticker-control {
    ul li:hover {
      box-shadow: 1px 1px 4px 1px $lightPurple;
      border-radius: 1rem;
    }
  }

  button.toggle-sticker {
    border: none;
    background: linear-gradient(40deg, $darkPurple 0%, $lightPurple 40%);
    overflow: hidden;
    &:hover:enabled {
      @include variedGradient;
      opacity: 0.8;
    }
  }

  button.toggle-sticker::after {
    width: 94%;
    height: 94%;
    content: ' ';
    display: block;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:ooo='http://xml.openoffice.org/svg/export' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' version='1.2' width='22' height='25' viewBox='0 0 582.08334 661.45833' preserveAspectRatio='xMidYMid' xml:space='preserve' id='svg66' sodipodi:docname='landmark.svg' style='fill-rule:evenodd;stroke-width:28.22200012;stroke-linejoin:round' inkscape:version='0.92.5 (2060ec1f9f, 2020-04-08)'%3E%3Cmetadata id='metadata70'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23ffffff' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1920' inkscape:window-height='1016' id='namedview68' showgrid='false' units='px' inkscape:zoom='22.627417' inkscape:cx='25.702333' inkscape:cy='10.982162' inkscape:window-x='0' inkscape:window-y='27' inkscape:window-maximized='1' inkscape:current-layer='svg66' /%3E%3Cdefs class='ClipPathGroup' id='defs8'%3E%3CclipPath id='presentation_clip_path' clipPathUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='661' height='661' id='rect2' /%3E%3C/clipPath%3E%3CclipPath id='presentation_clip_path_shrink' clipPathUnits='userSpaceOnUse'%3E%3Crect x='0' y='0' width='660' height='660' id='rect5' /%3E%3C/clipPath%3E%3C/defs%3E%3Cdefs class='TextShapeIndex' id='defs12'%3E%3Cg ooo:slide='id1' ooo:id-list='id3' id='g10' /%3E%3C/defs%3E%3Cdefs class='EmbeddedBulletChars' id='defs44'%3E%3Cg id='bullet-char-template-57356' transform='matrix(4.8828125e-4,0,0,-4.8828125e-4,0,0)'%3E%3Cpath d='M 580,1141 1163,571 580,0 -4,571 Z' id='path14' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='bullet-char-template-57354' transform='matrix(4.8828125e-4,0,0,-4.8828125e-4,0,0)'%3E%3Cpath d='M 8,1128 H 1137 V 0 H 8 Z' id='path17' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='bullet-char-template-10146' transform='matrix(4.8828125e-4,0,0,-4.8828125e-4,0,0)'%3E%3Cpath d='M 174,0 602,739 174,1481 1456,739 Z M 1358,739 309,1346 659,739 Z' id='path20' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='bullet-char-template-10132' transform='matrix(4.8828125e-4,0,0,-4.8828125e-4,0,0)'%3E%3Cpath d='M 2015,739 1276,0 H 717 l 543,543 H 174 v 393 h 1086 l -543,545 h 557 z' id='path23' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='bullet-char-template-10007' transform='matrix(4.8828125e-4,0,0,-4.8828125e-4,0,0)'%3E%3Cpath d='m 0,-2 c -7,16 -16,29 -25,39 l 381,530 c -94,256 -141,385 -141,387 0,25 13,38 40,38 9,0 21,-2 34,-5 21,4 42,12 65,25 l 27,-13 111,-251 280,301 64,-25 24,25 c 21,-10 41,-24 62,-43 C 886,937 835,863 770,784 769,783 710,716 594,584 L 774,223 c 0,-27 -21,-55 -63,-84 l 16,-20 C 717,90 699,76 672,76 641,76 570,178 457,381 L 164,-76 c -22,-34 -53,-51 -92,-51 -42,0 -63,17 -64,51 -7,9 -10,24 -10,44 0,9 1,19 2,30 z' id='path26' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='bullet-char-template-10004' transform='matrix(4.8828125e-4,0,0,-4.8828125e-4,0,0)'%3E%3Cpath d='M 285,-33 C 182,-33 111,30 74,156 52,228 41,333 41,471 c 0,78 14,145 41,201 34,71 87,106 158,106 53,0 88,-31 106,-94 l 23,-176 c 8,-64 28,-97 59,-98 l 735,706 c 11,11 33,17 66,17 42,0 63,-15 63,-46 V 965 c 0,-36 -10,-64 -30,-84 L 442,47 C 390,-6 338,-33 285,-33 Z' id='path29' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='bullet-char-template-9679' transform='matrix(4.8828125e-4,0,0,-4.8828125e-4,0,0)'%3E%3Cpath d='M 813,0 C 632,0 489,54 383,161 276,268 223,411 223,592 c 0,181 53,324 160,431 106,107 249,161 430,161 179,0 323,-54 432,-161 108,-107 162,-251 162,-431 0,-180 -54,-324 -162,-431 C 1136,54 992,0 813,0 Z' id='path32' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='bullet-char-template-8226' transform='matrix(4.8828125e-4,0,0,-4.8828125e-4,0,0)'%3E%3Cpath d='m 346,457 c -73,0 -137,26 -191,78 -54,51 -81,114 -81,188 0,73 27,136 81,188 54,52 118,78 191,78 73,0 134,-26 185,-79 51,-51 77,-114 77,-187 0,-75 -25,-137 -76,-188 -50,-52 -112,-78 -186,-78 z' id='path35' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='bullet-char-template-8211' transform='matrix(4.8828125e-4,0,0,-4.8828125e-4,0,0)'%3E%3Cpath d='M -4,459 H 1135 V 606 H -4 Z' id='path38' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg id='bullet-char-template-61548' transform='matrix(4.8828125e-4,0,0,-4.8828125e-4,0,0)'%3E%3Cpath d='m 173,740 c 0,163 58,303 173,419 116,115 255,173 419,173 163,0 302,-58 418,-173 116,-116 174,-256 174,-419 0,-163 -58,-303 -174,-418 C 1067,206 928,148 765,148 601,148 462,206 346,322 231,437 173,577 173,740 Z' id='path41' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/defs%3E%3Cg id='g49' transform='matrix(1.1521019,0,0,1.1521019,19.435607,-36.89664)'%3E%3Cg id='id2' class='Master_Slide'%3E%3Cg id='bg-id2' class='Background' /%3E%3Cg id='bo-id2' class='BackgroundObjects' /%3E%3C/g%3E%3C/g%3E%3Cg class='SlideGroup' id='g64' transform='matrix(1.2551702,0,0,1.2542855,-119.92199,-40.614432)'%3E%3Cg id='g62'%3E%3Cg id='container-id1'%3E%3Cg id='id1' class='Slide' clip-path='url(%23presentation_clip_path)'%3E%3Cg class='Page' id='g58'%3E%3Cg class='com.sun.star.drawing.PolyPolygonShape' id='g56'%3E%3Cg id='id3'%3E%3Crect class='BoundingBox' x='99' y='33' width='458' height='527' id='rect51' style='fill:none;stroke:none' /%3E%3Cpath d='M 326,65 384,196 527,180 441,296 527,412 384,396 326,527 269,396 127,412 211,296 127,180 269,196 Z' id='path53' inkscape:connector-curvature='0' style='fill:none;stroke:%23ffffff;stroke-width:26;stroke-linecap:round;stroke-linejoin:miter' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
  }

  &.show-stickers {
    button.toggle-sticker {
      box-shadow: 0px 0px 3px $lightPurple;
    }
    button.toggle-sticker:hover {
      box-shadow: 0px 0px 0px $lightPurple;
    }
  }

  input[type="text"], input[type="submit"] {
    border-radius: 1.5rem;
    border: 0.1em solid $lightPurple;
  }

  input[type="text"]:focus:enabled {
    border: 0.1em solid $lightPurple;
    background-color: white;
  }

  input[type="submit"] {
    @include gradient;
    &:hover:enabled {
      @include variedGradient;
      opacity: 0.8;
      border: 0.1em solid $darkPurple;
    }
  }

  .selector {
    border: 1px solid $lightGrey;
    background-color: white;

    &.active {
      li {
        @include transition;
        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            animation-delay: 50ms * $i;
          }
        }
      }
    }

    button { //the close button
      font-size: 1.5rem;
      background-color: $lightGrey;
      color: white;
      &:hover {
        @include gradient;
      }
    }
  }
}

/* STICKERS */

.chatroom .chats .chat img[src*="#sticker"] {
  background: white;
  box-shadow: 1px 1px 2px 0px $background;
  border-radius: 6px;
  transform: rotate(2deg);
}

div#wave {
  position:relative;
  margin-top:50vh;
  text-align:center;
  width:100px;
  height:100px;
  margin-left: auto;
  margin-right: auto;

  .dot {
    display:inline-block;
    width:12px;
    height:12px;
    border-radius:50%;
    margin-right:3px;
    background:white;
    animation: wave 1.3s linear infinite;

    &:nth-child(2) {
      animation-delay: -1.1s;
    }

    &:nth-child(3) {
      animation-delay: -0.9s;
    }
  }
}

@keyframes wave {
  0%, 60%, 100% { transform: initial; }
  30% { transform: translateY(-15px); }
}

span.bot-avatar {
  background-image: url('../assets/bot-avatar.png');
  background-size: 90%;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  content: "";
  position: relative;
  background-repeat: no-repeat;
  border: 2px solid #242222;
  background-position: 50%;
  border-radius: 2rem;
  left: 0px;
  box-shadow: 0px 0px 0px 5px white;
}

span.bot-avatar + span.sent {
  top: 1.5rem;
  position: relative;
  vertical-align: top;
}
